@font-face {
    font-family: peaceSans;
    src: url(fonts/PeaceSans.ttf);
}

@font-face {
    font-family: museoSans;
    src: url(fonts/MuseoSans.ttf);
}

@font-face {
    font-family: museoSansBold;
    src: url(fonts/MuseoSansBold.ttf);
}

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    border: 0;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    list-style: none;
}

html,
body {
    min-height: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    overflow: hidden;
}

.header {
    height: 100vh;
    background-color: #F5F5F5;
    width: 100vw;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 20px 30px -20px;
}




.navigate {
    display: flex;
    width: 100vw;
    justify-content: center;
    padding-top: 1%;
    align-items: center;
    position: absolute;
    z-index: 1;
}


#logo {
    margin-right: 52%;
    font-family: "peaceSans";
    font-size: 5.3vh;
    color: #FF8D24;
}

#t {
    font-family: Roboto;
    font-size: 1.8vh;
    color: #000000;
    margin-right: 2%;
}

#come,
#reg {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}

#come {
    width: 17vh;
    height: 5vh;
    background: #FFC087;
    border-radius: 59px;
    font-family: Roboto;
    font-size: 3vh;
    color: #FFFFFF;
    cursor: pointer;
}

.reg #come {
    width: 320px;
    height: 57px;
    margin-top: 26px;
    margin-bottom: 26px;
}

#come:hover {
    background: #f58723;
}

#come:active{
    background: #eb8221;
}

.midle {
    height: 100%;
    width: 100vw;
    justify-content: center;
    display: flex;
    align-items: center;
    position: relative;
    overflow-y: hidden;
}

.glavButt {
    width: 34vh;
    height: 10vh;
    background: linear-gradient(to bottom, #ff9e16, #ff7f00);
    border-radius: 59px;
    font-family: "museoSans";
    font-weight: 600;
    font-size: 4vh;
    color: #FFFFFF;
    cursor: pointer;
    box-shadow: 0 5px 23px 0 rgba(255,140,0,0.5);
}

#reg:hover,
#takePart:hover{
    transition: 0.2;
    box-shadow: 0 5px 26px 9px rgba(255,140,0,0.5);
}

#reg:active,
#takePart:active{
    box-shadow: 0 5px 9px 2px rgba(255,140,0,0.5);
}

.toCome {
    position: absolute;
    z-index: 5;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toComeContainer {
    position: absolute;
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toComeBlock {
    width: 45vh;
    height: 55vh;
    position: absolute;
    z-index: 50;
    background-color: white;
    display: flex;
    justify-content: center;
    border-radius: 1vh;
}

.toComeBlock h2 {
    font-family: MuseoSans;
    font-size: 4vh;
    color: black;
    letter-spacing: 0.4vh;
    margin-top: 3.8vh;
    margin-bottom: 13.6vh;
}

.toComeBlock .contain name {
    margin-right: 150px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 35px;
    color: #000000;
    margin-top: 20px;
}

.toComeBlock .come,
.toComeBlock .reg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.toComeBlock .contain #form {
    width: 305px;
    height: 60px;
    background: #FFFFFF;
    border: 7px solid #F5F5F5;
    box-sizing: border-box;
    border-radius: 13px;
}


.exit {
    position: relative;
    z-index: 158;
    top: -240px;
    left: 215px;
    display: flex;
    justify-content: flex-end;
    font-size: 4vh;
    color: #A3A3A3;
    cursor: pointer;
    top: -25.4vh;
    left: 20.4vh;
}



.exit:hover {
    color: black;
}

#vkReg {
    background-color: #4a76a8;
}

#vkReg:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#vkReg:active {
    background-color: #4771a1;
    box-shadow: 0 0 0;
}

#fbReg {
    background-color: #4267b2;
}

#fbReg:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#fbReg:active {
    background-color: #3f63ab;
    box-shadow: 0 0 0;
}

.regButt {
    height: 21vh;
    width: 36vh;
    font-size: 2vh;
    padding-right: 1vh;
    padding-left: 1vh;
    font-family: Roboto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-weight: 500;
    cursor: pointer;
    border-radius: 1vh;
    flex-direction: column;
}

.regButt img {
    height: 13vh;
    margin-right: 1vh;
}

.contain form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#on {
    display: flex;
}

#off {
    display: none;
}

#title {
    margin-right: 206px;
    margin-top: 14px;
    font-family: Roboto;
}

#bigReg {
    width: 626px;
    height: 675px;
    border-radius: 9px;
}

.ava {
    border-radius: 100%;
    height: 72px;
}

.navigate {
    padding-top: 1vh;
}

.navigate .profil {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
}

.navigate .avatar img {
    border-radius: 100%;
    height: 8vh;
}


.navigate .info {
    font-family: Roboto;
    font-size: 3vh;
    margin-left: 1vh;
    margin-right: 1.6vh;
}

.navigate .info .balance {
    font-weight: bold;
}

.midle .buy {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 9vh;
}

.midle-bank {
    height: 100%;
    width: 100%;
    justify-content: center;
    display: flex;
    position: absolute;
    font-family: "museoSansBold";
    font-weight: bold;
    font-size: 2.4vh;
}

rub {
    font-family: Roboto;
}

.buy .comment {
    text-align: center;
    font-family: "museoSans";
    color: #A1A1A1;
    margin-top: 1vh;
    font-weight: 500;
    font-size: 2vh;
}


.openSpan {
    display: none;
    flex-direction: column;
    background-color: white;
    position: absolute;
    padding-top: 2vh;
    border-radius: 0 0 1vh 1vh
}

.btnMenu {
    background: white;
    width: 15.8vw;
    height: 6vh;
    color: black;
    cursor: pointer;
    font-family: "museoSans";
    font-weight: 600;
    font-size: 2.8vh;
    border-radius: 1vh;
}

.btnMenu:hover {
    background: #CACACA;
}


.menuProfil,
.menuProfil #elemMenu {
    border-radius: 1vh 1vh 0 0;
    z-index: -5;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

#width-prof {
    min-width: 15.8vw;
}

.footer {
    height: 50vh;
    width: 100vw;
    position: absolute;
    bottom: -2px;
    z-index: -1;
    background-color: #f1c40f;
}

#footer {
    transition: 0.4s;
    transform: translateY(-47vh);
}

#footerOff {
    transition: 0.3s;
    transform: translateY(0);
}

.date {
    position: absolute;
    bottom: -20vh;
    text-align: center;
    width: 100vw;
    font-size: 2vh;
    font-family: "museoSans";
    font-weight: 800;
    line-height: 2.8vh;
}

.footerInfo {
    display: flex;
    position: fixed;
    z-index: -1;
    bottom: 21vh;
    justify-content: space-around;
    width: 100vw;
    justify-content: center;
}

.footerInfoBlock {
    font-size: 2vh;
    font-family: "museoSans";
    font-weight: 800;
    line-height: 2.8vh;
}

#ico {
    margin-left: 1vh;
}

.contacts img {
    width: 7vh;
    cursor: pointer;
}

.contacts .ico {
    margin-left: 1vh;
}

#footerInf {
    transition: 1s;
    z-index: 0;
}

.footerInfo #midle {
    margin-left: 5vh;
    margin-right: 5vh;
}

.road {
    position: absolute;
    height: 5vh;
    width: 500vw;
    background-color: #878684;
    bottom: 0;


}

.line {
    height: 1vh;
    width: 5vw;
    background: white;
    margin-left: 2vw;
}

.lines {
    height: 5vh;
    width: 500vw;
    position: absolute;
    bottom: 0;
    display: flex;
    transition: 1s;
    align-items: center;
    transform: translateY(4vh);
}

#utp {
    position: absolute;
    left: 21vh;
    top: 21vh;
    font-size: 3vw;
    font-family: museoSansBold;
    z-index: 1;
}


.bring:active .bring-toggle {
    display: flex
}

.bring-toggle {
    position: absolute;
    top: 0;
    z-index: 50;
    height: 100%;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

.bring-shadow {
    position: absolute;
    z-index: 5;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.window-bring {    
    
    width: 39vh;
    height: 40vh;
    position: absolute;
    z-index: 50;
    background-color: white;
    display: flex;
    border-radius: 1vh;
    font-family: museoSans;
    font-weight: 700;
    font-size: 2vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.window-bring input {
    width: 27vh;
    height: 3vh;
    outline: none;
    border-bottom: 0.2vh solid #fb8c00;
    padding-left: 1vh;
    font-size: 2vh;
}

.window-bring .mrgn {
    margin-top: 3vh;
}

.window-bring #messages {
    position: absolute;
    top: 2vh;
    display: flex;
    justify-content: center;
    width: 100%;
}

.window-bring .success-messages {
    color: green;
}

.window-bring .error-messages {
    color: red;
}



.window-bring #error {
    color: red;
    font-size: 1.6vh;
}

.window-bring #form {
    height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.window-bring #bring_send {
    width: 17vh;
    height: 5vh;
    background: #2a9f37;
    border-radius: 59px;
    font-family: Roboto;
    font-size: 3vh;
    color: #FFFFFF;
    cursor: pointer;
}
